{% extends "layout.html" %}
{% block content %}
<h2>Cat Evolutions</h2>
{% for i in range(form_names|length) %}
<p><b>{{form_names[i]}} Form</b> : {{names[i]}}</p>
<img src="/static/images/{{image_names[i]}}.png">
<p><i>{{form_names[i]}} Form Skills:</i><p>
{% for skill in skill_list[i] %}
<p>{{skill[1]}} : {{skill[2]}}</p>
{% endfor %}
{% if i == 0 %}
<h2>Stats: (LVL 1)</h2>
{% else %}
<h2>Stats: (MAX LVL)</h2>
{% endif %}
<p><b>HP</b> - {{stat_list[i][0]}}</p>
<p><b>ATK</b> - {{stat_list[i][1]}}</p>
<p><b>ATK RANGE</b> - {{stat_list[i][2]}}</p>
<p><b>ATK FREQUENCY</b> - {{stat_list[i][3]}} secs</p>
<p><b>SPEED</b> - {{stat_list[i][4]}}</p>
<p><b>KB</b> - {{stat_list[i][5]}}</p>
{% for type in type_list[i] %}
<img src="/static/images/{{type.lower()}}.png">
{% endfor %}
<p>-</p>
{% endfor %}
<h2>---</h2>
<h2>General Information</h2>
<p><b>Rarity</b> : {{rarity}}</p>
{% if experience > 0 %}
<p><b>XP</b> - {{experience}}</p>
{% endif %}
<p><b>Cost</b></p>
{% for cost in costs %}
<p>${{cost[0]}}</p>
{% endfor %}
{% if talent_list %}
<h2>---</h2>
<h2>Talents</h2>
{% for talent in talent_list %}
<p>{{talent}}</p>
{% endfor %}
{% endif %}
{% if trueform_mats %}
<h2>---</h2>
<h2>Trueform Materials</h2>
{% for material in trueform_mats %}
<!-- material[0] - Ingredient Name, material[1] - Ingredient Amount -->
<p>{{material[0]}} ({{material[1]}}) : <img src="/static/images/{{material[0]}}.png"></p>
{% endfor %}
{% if trueform_experience %}
<p><b>XP Required</b> : {{trueform_experience}}</p>
{% endif %}
{% endif %}
{% endblock %}